<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Inicio.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="arriba">
            <section class="arriba-contenido">
                <h1>AQUA <img src="../storage/images/akar-icons_water.png" alt=""></h1>
                    <div class="redirections">
                        <a href="#inicio">
                            <button>
                                    INICIO
                            </button>
                        </a>
                        <a href="#como-jugar">
                            <button>
                                    COMO JUGAR
                            </button>
                        </a>
                        <a href="#apoyanos-link">
                            <button>
                                APOYANOS
                            </button>
                        </a>
                        <a href="#nosotros">
                            <button>
                                SOBRE NOSOTROS
                            </button>
                        </a>
                    </div>
                    <div class="tema">
                        <button>
                            <img src="../storage/images/bi_moon-fill.png" alt="">
                        </button>
                        <button>
                            <img src="../storage/images/akar-icons_sun-fill.png" alt="">
                        </button>
                    </div>
            </section>
        </div>
    </header>
    <section class="somos" id="inicio">
        <div class="left1">
            <img class="left-img" src="../storage/images/Capa 1.png" alt="">
            <h2>Somos creatividad, somos Crae</h2>
            <p>Crae es un juego de cartas inclusivo donde personas videntes,<br> no videntes y con discapacidad visual pueden participar <br> y disfrutar en conjunto.</p>
        </div>
        <div class="right1">
            <img class="right-img" src="../storage/images/Recurso 2 (2) 1.png" alt="">
            <button>
                   <img class="button-img" src="../storage/images/material-symbols_shopping-cart.png" alt=""> Comprar
            </button>
        </div>
    </section>
    <div class="how-to-play" id="como-jugar">
        <h1>¿Como jugar?</h1>
        <p>Crae posee una modalidad de juego definidas pero siempre apoyamos la creatividad y que crees tus propias reglas y modalidades.</p>
    </div>
    <section class="punto1">
        <div class="one">
            <img src="../storage/images/Ellipse 2.png" alt="">*
        </div>
        <div class="one-p">
            <p>Uno de los jugadores hace de “creativo” en cada uno de los turnos. Observa sus 6 cartas de la mano y, de una de ellas, debe construir una frase, palabra o sonido y decirla en voz alta (sin mostrar la carta a los otros jugadores). La frase puede ser inventada o puede estar inspirada en la poesía, literatura, cine, etc. 
            </p>
        </div>
        <div class="simbol">
            <img src="../storage/images/mdi_cards.png" alt="">
        </div>
    </section>
    <section class="punto1">
        <div class="one">
            <img src="../storage/images/Ellipse 2.png" alt="">*
        </div>
        <div class="one-p">
            <p>Comenzamos el juego de izquierda a derecha. Selecciona una carta que inspire tu frase y dila en voz alta. El resto de jugadores seleccionará de entre sus cartas la que mejor se adapte a la frase construida por el creativo.</p>
        </div>
        <div class="simbol">
            <img src="../storage/images/bx_bxs-select-multiple.png" alt="">
        </div>
    </section>
    <section class="punto1">
        <div class="one">
            <img src="../storage/images/Ellipse 2.png" alt="">*
        </div>
        <div class="one-p">
            <p>El objetivo de los jugadores es adivinar cuál de las cartas es la que el creativo usó para construir su frase. Cada jugador vota de forma secreta la carta que cree que pertenece al creativo. Para ello, coloca boca abajo frente a él un objeto que hayas escogido previamente. </p>
        </div>
        <div class="simbol">
            <img src="../storage/images/ic_round-how-to-vote.png" alt="">
        </div>
    </section>
    <section class="punto1">
        <div class="one">
            <img src="../storage/images/Ellipse 2.png" alt="">*
        </div>
        <div class="one-p">
            <p>- Si todos los jugadores aciertan la carta del creativo, todos los jugadores excepto el creativo ganan 2 puntos. 
                - En cualquier otro caso, tanto el creativo como los jugadores que hayan acertado, obtienen 3 puntos. 
                - Todos los jugadores ganan un punto por cada voto que reciba su carta. </p>
        </div>
        <div class="simbol">
            <img src="../storage/images/ic_round-checklist-rtl.png" alt="">
        </div>
    </section>
    <section class="punto1">
        <div class="one">
            <img src="../storage/images/Ellipse 2.png" alt="">*
        </div>
        <div class="one-p">
            <p>Cada jugador roba cartas hasta tener 6 en su mano. El juego termina cuando se roba la última carta. El jugador que más lejos haya llegado en la escala de puntuación es el ganador.</p>
        </div>
        <div class="simbol">
            <img src="../storage/images/mdi_summit.png" alt="">
        </div>
    </section>
    <section class="apoyanos" id="apoyanos-link">
        <div class="apoyanos-p">
            <h1>Apóyanos</h1>
            <p>Por favor, si quieres ayudarnos económicamente, no dudes en donar en Kickstarter.
                Así financiarías nuestro proyecto y contribuirías a cumplir este gran sueño.</p>
        </div>
        <div class="images-apo">
            <img src="../storage/images/OS971A1 1.png" alt="">
            <button>
                Haz tu aporte
            </button>
        </div>
    </section>
    <section class="sobre-nos" id="nosotros">
        <div class="derecha">
            <h1>Sobre nosotros</h1>
            <p>Somos Aqua, un equipo que apuesta por la inclusión, principalmente por las personas no videntes o de visibilidad reducida.
                Creemos que la diversión no debe distinguir condiciones físicas es por eso que desarrollamos “CRAE”, el cual busca ser un juego de cartas inclusivo donde personas videntes o no videntes pueden participar y disfrutar en conjunto.
                
                Puedes encontrarnos en Instagram como @crae.cl o llamarnos a nuestro número telefónico 9 7889 4758.
                </p>
        </div>
        <div class="izquierda">
            <div images-iz>
                <img src="../storage/images/blind-right.png" alt="">
                <img src="../storage/images/people+blind.png" alt="">
            </div>
            <h1>AQUA <img src="../storage/images/akar-icons_water.png" alt=""></h1>
        </div>
            
    </section>
</body>
</html>